$sunglow-50: #fffbeb;
$sunglow-100: #fef2c7;
$sunglow-200: #fce38b;
$sunglow-300: #faca3e;
$sunglow-400: #f9ba26;
$sunglow-500: #f3980d;
$sunglow-600: #d77308;
$sunglow-700: #b24f0b;
$sunglow-800: #913d0f;
$sunglow-900: #773310;
$sunglow-950: #441904;